{% extends 'deals/base.html' %}

{% block content %}
  <style>
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Две колонки */
      background-color: whitesmoke;
      list-style-type: none;
      padding: 0;
      border-radius: 3px;
    }
    .form-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5em;
    }

    .form-row label {
      margin-right: 1em; /* Отступ между названием поля и самим полем */
      width: 150px; /* Установите фиксированную ширину для всех названий полей */
      text-align: right; /* Выровнять текст по правому краю */
    }
    .form-row > input {
      flex: 1;
      max-width: 300;
    }
    .form-row > button {
      background: gray;
      color: white;
      border: 0;
      display: flex;
      justify-content: center;
    }
    .button-container {
      display: flex;
      justify-content: center; /* Центрирование кнопки */
      padding: 1em 0; /* Отступы сверху и снизу для кнопки */
    }
    #otherContactFields {
        visibility: hidden;
        border: 2px solid #ccc; /* Тонкая граница */
        padding: 10px; /* Отступы внутри div */
        margin-top: 10px; /* Отступ сверху */
        border-radius: 5px; /* Закругленные углы (по желанию) */
        background-color: #f9f9f9; /* Светлый фон (по желанию) */
    }
    #newContactFields {
        border: 2px solid #ccc; /* Тонкая граница */
        padding: 10px; /* Отступы внутри div */
        margin-top: 10px; /* Отступ сверху */
        border-radius: 5px; /* Закругленные углы (по желанию) */
        background-color: #f9f9f9; /* Светлый фон (по желанию) */
    }
    #driverFields {
        border: 2px solid #ccc; /* Тонкая граница */
        padding: 10px; /* Отступы внутри div */
        margin-top: 10px; /* Отступ сверху */
        border-radius: 5px; /* Закругленные углы (по желанию) */
        background-color: #f9f9f9; /* Светлый фон (по желанию) */
    }
    #cargoFields {
        border: 2px solid #ccc; /* Тонкая граница */
        padding: 10px; /* Отступы внутри div */
        margin-top: 10px; /* Отступ сверху */
        border-radius: 5px; /* Закругленные углы (по желанию) */
        background-color: #f9f9f9; /* Светлый фон (по желанию) */
    }
    #generalFields {
        border: 2px solid #ccc; /* Тонкая граница */
        padding: 10px; /* Отступы внутри div */
        margin-top: 10px; /* Отступ сверху */
        border-radius: 5px; /* Закругленные углы (по желанию) */
        background-color: #f9f9f9; /* Светлый фон (по желанию) */
    }
    </style>
<form id="innForm" class="container mt-4">
    <div class="form-group row">
        <label for="inn" class="col-sm-2 col-form-label">ИНН перевозчика:</label>
        <div class="col-sm-10">
            <input type="number" id="inn" name="inn" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="company" class="col-sm-2 col-form-label">Выберите нашу компанию:</label>
        <div class="col-sm-10">
            <select id="company" name="company" class="form-control" required>
                <option value="">--Выберите наше юр.лицо-</option>
                {% for company in our_companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="button" class="btn btn-primary" onclick="checkINN()">Поиск по ИНН</button>
        </div>
    </div>
</form>



<!-- Блок для отображения результатов -->
<div id="result"></div>
<script>
function checkINN() {
    const inn = document.getElementById('inn').value;
    const id = document.getElementById('company').value;

    if (!id) {
        alert("Пожалуйста, выберите нашу компанию из списка.");
        return; // Останавливаем выполнение функции, если компания не выбрана
    }
    // Отправляем запрос на сервер
    fetch("{% url 'check_inn' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"  // передаем токен CSRF
        },
        body: JSON.stringify({ 'inn': inn, 'company_id': id })
    })
    .then(response => response.json())
    .then(data => {
   function escapeHtml(unsafe) {
    return unsafe
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");
}
        // Если ИНН найден
            if (data.found) {

                const partnerShortEscaped = escapeHtml(data.partner_short);
                document.getElementById('result').innerHTML = `
                    <h2>${data.type} найден: ${data.transporter_name}</h2><br>
                    ${
                        data.bank_check == 'yes'
                        ? `
                            <form method="POST" action="{% url 'fill_template' %}" target="_blank">
                                {% csrf_token %}
                                <input type="hidden" id="our_id" name="our_id" value="${id}" />
                                <input type="hidden" id="partner_id" name="partner_id" value="${data.id}" />
                                <section class="wrapper">
                                    <div class="form-row">
                                        <label for="transporter_bankt">Банковские реквизиты перевозчика:</label>
                                        <select id="transporter_bank" name="transporter_bank" required>
                                            <option value="">Выберите реквизиты</option>
                                            ${data.banks.map(bank => `<option value="${bank.id}">${bank.bank_name} - ${bank.account}</option>`).join('')}
                                        </select>
                                    </div>

                                    <div class="form-row">
                                        <label for="transporter_cont">Контакт перевозчика:</label>
                                        ${
                                            data.contact_received
                                            ? `
                                                <select id="transporter_cont" name="transporter_cont" required onchange="toggleOtherContact()">
                                                    <option value="">Выберите контакт</option>
                                                    ${data.contacts.map(contact => `<option value="${contact.id}">${contact.name} - ${contact.phone}</option>`).join('')}
                                                    <option value="other">Другой контакт</option>
                                                </select>
                                            `
                                            : `
                                                <div id="newContactFields">
                                                    <center><h5>Новый контакт перевозчика</h5></center>
                                                    <div class="form-row">
                                                        <label for="new_position">Должность:</label>
                                                        <select id="new_position" name="new_position" required>
                                                            <option value="">Выберите должность</option>
                                                            <option value="manager">Менеджер</option>
                                                            <option value="director">Директор</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-row">
                                                        <label for="new_contact">ФИО:</label>
                                                        <input type="text" id="new_contact" name="new_contact" />
                                                    </div>
                                                    <div class="form-row">
                                                        <label for="new_phone">Телефон:</label>
                                                        <input type="text" id="new_phone" name="new_phone" />
                                                    </div>
                                                    <div class="form-row">
                                                        <label for="new_email">Email:</label>
                                                        <input type="text" id="new_email" name="new_email" />
                                                    </div>
                                                </div>
                                            `
                                        }
                                    </div>

                                    <div id="otherContactFields">
                                        <center><h5>Другой контакт перевозчика</h5></center>
                                        <div class="form-row">
                                            <label for="other_position">Должность:</label>
                                            <select id="other_position" name="other_position">
                                                <option value="">Выберите должность</option>
                                                <option value="manager">Менеджер</option>
                                                <option value="director">Директор</option>
                                            </select>
                                        </div>
                                        <div class="form-row">
                                            <label for="other_contact">ФИО:</label>
                                            <input type="text" id="other_contact" name="other_contact" />
                                        </div>
                                        <div class="form-row">
                                            <label for="other_phone">Телефон:</label>
                                            <input type="text" id="other_phone" name="other_phone" />
                                        </div>
                                        <div class="form-row">
                                            <label for="other_email">Email:</label>
                                            <input type="text" id="other_email" name="other_email" />
                                        </div>
                                    </div>

                                    <div id="generalFields">
                                        <center><h3>Общая информация</h3></center><br>
                                        <div class="form-row">
                                            <label for="transporter">Перевозчик:</label>
                                            <input class="form-control" type="text" id="transporter" name="transporter" value="${partnerShortEscaped}" readonly />
                                        </div>
                                        <div class="form-row">
                                            <label for="order_date">Дата заявки:</label>
                                            <input type="text" id="order_date" name="order_date" />
                                        </div>
                                        <div class="form-row">
                                            <label for="order_num">Номер заявки:</label>
                                            <input type="text" id="order_num" name="order_num" />
                                        </div>
                                        <div class="form-row">
                                            <label for="sender">Отправитель:</label>
                                            <input type="text" id="sender" name="sender" />
                                        </div>
                                        <div class="form-row">
                                            <label for="receiver">Получатель:</label>
                                            <input type="text" id="receiver" name="receiver" />
                                        </div>
                                        <div class="form-row">
                                            <label for="address_from">Адрес погрузки:</label>
                                            <input type="text" id="address_from" name="address_from" />
                                        </div>
                                        <div class="form-row">
                                            <label for="address_to">Адрес выгрузки:</label>
                                            <input type="text" id="address_to" name="address_to" />
                                        </div>
                                        <div class="form-row">
                                            <label for="date_load">Дата и время погрузки:</label>
                                            <input type="text" id="date_load" name="date_load" />
                                        </div>
                                        <div class="form-row">
                                            <label for="date_unload">Дата и время выгрузки:</label>
                                            <input type="text" id="date_unload" name="date_unload" />
                                        </div>
                                        <div class="form-row">
                                            <label for="contact_send">Контакт отправителя:</label>
                                            <input type="text" id="contact_send" name="contact_send" />
                                        </div>
                                        <div class="form-row">
                                            <label for="contact_receive">Контакт получателя:</label>
                                            <input type="text" id="contact_receive" name="contact_receive" />
                                        </div>
                                    </div>

                                    <div id="driverFields">
                                        <center><h3>Информация о водителе</h3></center><br>
                                        <div class="form-row">
                                            <label for="driver">ФИО водителя:</label>
                                            <input type="text" id="driver" name="driver" />
                                        </div>
                                        <div class="form-row">
                                            <label for="passport_num">Номер паспорта водителя:</label>
                                            <input type="text" id="passport_num" name="passport_num" />
                                        </div>
                                        <div class="form-row">
                                            <label for="passport_issue">Паспорт выдан (кем и когда):</label>
                                            <input type="text" id="passport_issue" name="passport_issue" />
                                        </div>
                                        <div class="form-row">
                                            <label for="vehicle">Т/С:</label>
                                            <input type="text" id="vehicle" name="vehicle" />
                                        </div>
                                        <div class="form-row">
                                            <label for="vehicle_num">Гос. номер:</label>
                                            <input type="text" id="vehicle_num" name="vehicle_num" />
                                        </div>
                                        <div class="form-row">
                                            <label for="phone">Контактный телефон:</label>
                                            <input type="text" id="phone" name="phone" />
                                        </div>
                                    </div>

                                    <div id="cargoFields">
                                        <center><h3>Информация о грузе</h3></center><br>
      <div class="form-row">
        <label for="cargo">Наименование груза:</label>
        <input type="text" id="cargo" name="cargo"  />
      </div>
      <div class="form-row">
        <label for="quantity">Количество:</label>
        <input type="text" id="quantity" name="quantity" />
      </div>
      <div class="form-row">
        <label for="weight">Вес:</label>
        <input type="text" id="weight" name="weight" />
      </div>
      <div class="form-row">
        <label for="volume">Объем:</label>
        <input type="text" id="volume" name="volume"  />
      </div>
      <div class="form-row">
        <label for="type_pack">Тип упаковки:</label>
        <input type="text" id="type_pack" name="type_pack" />
      </div>
      <div class="form-row">
        <label for="add_info">Дополнительная информация:</label>
        <input type="text" id="add_info" name="add_info"  />
      </div>
      <div class="form-row">
        <label for="price">Стоимость перевозки:</label>
        <input type="text" id="price" name="price"  />
      </div>
      <div class="form-row">
        <label for="conditions">Условия оплаты:</label>
        <input type="text" id="conditions" name="conditions"  />
      </div>
      <div>
    <label>
        <input type="checkbox" id="searchCheckbox" onclick="toggleTextInput()"> Искать в тексте
    </label>
    <div id="textInputContainer" style="display: none;">
        <input type="text" id="searchText" maxlength="1000" placeholder="Введите текст" />
        <button type="button" onclick="parse()">Отправить</button>
    </div>
</div>
                                    </div>

                                    <div class="form-row">
                                        <center><input type="submit" value="Создать заявку" /></center>
                                    </div>
                                </section>
                            </form>
                        `
                        : `<p>Банковские реквизиты не найдены. Нажмите кнопку "добавить" и повторите поиск после заполнения<br></p>
                             <form method="POST" action="{% url 'process_bank' %}" target="_blank">
                                {% csrf_token %}
                            <input type="hidden" id="rek_id" name="rek_id" value="${data.id}" />
                            <input type="submit" value="Добавить банковские реквизиты" />
                            </form>
                        `



                    }

                `;
                console.log(data.id);
            } else {
                document.getElementById('result').innerHTML =
                `
                <p>ИНН не найден в базе данных!.</p>
                <form method='POST' action='{% url "add_partner" %}'>
                {% csrf_token %}
                <input type="hidden" id="fromOrder" name="fromOrder" value=${data.inn}>
                <button type='submit' class='btn btn-primary'>Создать контрагента с этим ИНН?</button>
                </form>
                `;
            }
        });
    }
function toggleTextInput() {
    const checkbox = document.getElementById('searchCheckbox');
    const textInputContainer = document.getElementById('textInputContainer');
    textInputContainer.style.display = checkbox. checked ? 'block' : 'none';
}

function parse() {
    const data = document.getElementById('searchText').value;
    console.log(data);
    // Отправляем запрос на сервер
    fetch("{% url 'gpt_process' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"  // передаем токен CSRF
        },
        body: JSON.stringify({ 'data': data })
    })  // Закрывающая скобка для fetch
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.success) {
                // Автоматически заполняем поля формы
            console.log(data);
            document.getElementById('cargo').value = data.cargo || "не указано" ? data.cargo : "";
            document.getElementById('weight').value = data.weight || "не указано" ? data.weight : "";
            document.getElementById('quantity').value = data.quantity || "не указано" ? data.quantity : "";
            document.getElementById('volume').value = data.volume || "Не указано" ? data.volume : "";
            document.getElementById('date_load').value = data.load_date || "Не указано" ? data.load_date : "";
            document.getElementById('date_unload').value = data.unload_date || "Не указано" ? data.unload_date : "";
            document.getElementById('address_from').value = data.load_place || "Не указано" ? data.load_place : "";
            document.getElementById('address_to').value = data.unload_place || "Не указано" ? data.unload_place : "";
    } else {
            console.log('Прошла строчка');
                alert(data.message);  // Обрабатываем ответ
        }
    })
    .catch(error => console.error('Ошибка:', error));
}
function toggleOtherContact() {
    const transporterContSelect = document.getElementById('transporter_cont');
    const otherContactFields = document.getElementById('otherContactFields');

    if (transporterContSelect.value === 'other') {
        otherContactFields.style.visibility = 'visible';
    } else {
        otherContactFields.style.visibility = 'hidden';
    }
}

</script>
{% endblock %}
